<div class="albums-block">
  <div class="loading-block" style="display: flex; justify-content: center; align-items: center;"
       *ngIf="(loading | async) else albumsArea">
    <mat-spinner color="primary" style="margin-top: 50px"></mat-spinner>
  </div>
  <ng-template #albumsArea>
    <div class="albums-list-block" style="padding: 40px;" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="15px"
         ngClass.gt-xs="ml-15">
      <mat-card style="cursor: pointer;" *ngFor="let album of (albums | async);"
                fxFlex.sm="0 1 calc(50%-15px)" fxFlex.md="0 1 calc(33%-15px)" fxFlex.gt-md="0 1 calc(25%-15px)">
        <img mat-card-image [alt]="album.image" [src]="env.albumsUploadPath + album.image">
        <mat-card-content>
          <mat-card-title>{{ album.title }}</mat-card-title>
          <mat-card-subtitle>Released: {{ album.releaseDate }}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>
</div>

